{% extends 'app/base.html' %}
{% block title%}signup {% endblock %}
{% load crispy_forms_tags %}
{% block maincontent %}
<div class="container">
    <div class="row ">
        
        <form method="post" class="col-6 mt-5 mx-auto">
        {% csrf_token %}
        <h2 class="text-primary">Signup form</h2>
        {{form|crispy}}
        <p class="my-3"> Already have an account? log in <a href="/login">Here</a></p>
        <button type="submit" class="btn btn-primary">Signup</button>

    </form>
</div>

{% endblock %}